{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="col-lg-6">
    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-lock"></i>Đổi mật khẩuX</h5>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.as_p }}
  </div>
  <input type="submit" class="btn btn-primary" value="Cập nhật">
  <a href="{% url 'app_social:index' %}">Hủy bỏ</a>

</form>
</div>
</div>	
</div><!-- centerl meta -->
{% endblock %}  