{% extends 'base.html' %} {% load static %} {% block body %}

<section>
  <div class="feature-photo">
    <figure>
      <img src="{% static 'home/images/resources/timeline-1.jpg' %}" alt="" />
    </figure>
    <div class="add-btn">
      <span>1205 followers</span>

      {% if request.user != profile_user %} 
      {% if request.session.is_following %}
      <a
        href="{% url 'app_social:follow_user' user_id=profile_user.id %}"
        title=""
        data-ripple=""
        >Unfollow</a
      >
      {% else %}
      <a
        href="{% url 'app_social:follow_user' user_id=profile_user.id %}"
        title=""
        data-ripple=""
        >Follow</a
      >
      {% endif %}
      {% endif %}
    </div>
    <form class="edit-phto">
      <i class="fa fa-camera-retro"></i>
      <label class="fileContainer">
        Edit Cover Photo
        <input type="file" />
      </label>
    </form>
    <div class="container-fluid">
      <div class="row merged">
        <div class="col-lg-2 col-sm-3">
          <div class="user-avatar">
            <figure>
              <img src="/media/{{ profile_user.avatar }}" alt="" />
              <form
                class="edit-phto"
                action="{% url 'app_social:update_avatar' user.id %}"
                method="post"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <i class="fa fa-camera-retro"></i>
                <label class="fileContainer">
                  Edit Display Photo
                  <input type="file" name="avatar" />
                </label>
              </form>
            </figure>
          </div>
        </div>
        <div class="col-lg-10 col-sm-9">
          <div class="timeline-info">
            <ul>
              <li class="admin-name">
                <h5>{{profile_user.first_name}} {{profile_user.last_name}}</h5>
                <!-- <span>Group Admin</span> -->
              </li>
              <li>
                <a
                  class="active"
                  href="{% url 'app_social:profile' %}"
                  title=""
                  data-ripple=""
                  >Time Line</a
                >
                <a
                  class=""
                  href="{% url 'app_social:user_profileFriends' profile_user.id %}"
                  title=""
                  data-ripple=""
                  >Friends</a
                >
                <a
                  class=""
                  href="{% url 'app_social:list_group' %}"
                  title=""
                  data-ripple=""
                  >Groups</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- top area -->

<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">About</h4>
                  <ul class="naves">
                    <li>
                      <span>Bio: {{profile_user.bio}}</span>
                    </li>
                    <li>
                      <span>Joined: {{profile_user.created_at}}</span>
                    </li>
                    <li>
                      <span>Lives: {{profile_user.lives}}</span>
                    </li>
                    <li>
                      <span>Website: {{profile_user.website}}</span>
                    </li>
                  </ul>
                </div>
                <!-- Shortcuts -->             
                <!-- who's following -->
              </aside>
            </div>
            <!-- sidebar -->
            <div class="col-lg-6">
              <div class="loadMore">
                <div class="central-meta item">
                  <div class="new-postbox">
                    <figure>
                      <img
                        src="/media/{{ user.avatar }}"
                        alt=""
                        style="height: 68px; width: 73px"
                      />
                    </figure>
                    <div class="newpst-input">
                      <form method="post">
                        <textarea
                          rows="2"
                          placeholder="write something"
                        ></textarea>
                        <div class="attachments">
                          <ul>
                            <li>
                              <i class="fa fa-music"></i>
                              <label class="fileContainer">
                                <input type="file" />
                              </label>
                            </li>
                            <li>
                              <i class="fa fa-image"></i>
                              <label class="fileContainer">
                                <input type="file" />
                              </label>
                            </li>
                            <li>
                              <i class="fa fa-video-camera"></i>
                              <label class="fileContainer">
                                <input type="file" />
                              </label>
                            </li>
                            <li>
                              <i class="fa fa-camera"></i>
                              <label class="fileContainer">
                                <input type="file" />
                              </label>
                            </li>
                            <li>
                              <button type="submit">Publish</button>
                            </li>
                          </ul>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- add post new box -->
                {% for post in posts %}

                <div class="central-meta item">
                  <div class="user-post">
                    <div class="friend-info">
                      <figure>
                        <img
                          src="/media/{{ user.avatar }}"
                          alt=""
                          style="height: 48px; width: 47px"
                        />
                      </figure>
                      <div class="friend-name">
                        <ins
                          ><a href="time-line.html" title=""
                            >{{ profile_user.first_name }} {{ profile_user.last_name }}
                          </a></ins
                        >

                        <span>published:{{ post.created_at }}</span>
                      </div>
                      <p class="mb-3 tx-14">{{ post.content }}</p>
                      <div class="dropdown_"></div>
                      <div class="post-meta">
                        
                        <div class="video-container"> 
													{% for video in post.video.all %}
													  <div class="video-wrapper">
														<video controls style="    width: 730px;">
															{% csrf_token %}
														  <source src="{{video.video.url}}" type="video/mp4">
														</video>
													  </div>
													{% endfor %}
												</div>
												 <div class="image-gallery">
													<!-- {% for image in post.images.all %}
													<a class="strip" href="url({{ image.image.url }})" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
													   <img src="url({{ image.image.url }})" alt=""><div class="custom-image-item"style=" height:300px  ; ;width:300px ; background-image: url({{ image.image.url }}); background-size: cover; background-position: center; background-repeat: no-repeat; "></div></a>
													{% endfor %} -->
													{% for image in post.images.all %}
													<a class="strip" href="{{ image.image.url }}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
													   <img src="url({{ image.image.url }})" alt=""><div class="custom-image-item"style=" height:300px  ; ;width:300px ; background-image: url({{ image.image.url }}); background-size: cover; background-position: center; background-repeat: no-repeat; "></div>
													<!-- <div class="custom-image-item" style="height: 300px; width: 300px; background-image: url({{ image.image.url }}); background-size: cover; background-position: center; background-repeat: no-repeat;"></div> -->
													 </a>
													{% endfor %}
			 
												 </div>
                        <div class="we-video-info">
                          <ul>
                            <ul>
                              {% if post.liked == 'True' %}
                              <li>
                                <a href="{% url 'app_social:like_Userpost' post.id %}?username={{profile_user.username}}">
                                  <span class="like" data-toggle="tooltip" title="like">
                                   <i class="ti-heart"></i>
                                   <ins>{{post.likes.count}}</ins>
                                  </span>
                                 
                                 </a>
                              </li>
                              {% else %}
                              <li>
                                 <a href="{% url 'app_social:like_Userpost' post.id %}?username={{profile_user.username}}">
                                  <span class="dislike" data-toggle="tooltip" title="dislike">
                                   <i class="ti-heart-broken"></i>
                                   <ins>{{post.likes.count}}</ins>
                                  </span>
                                 </a>
                              </li>
                              {% endif %}
                            <li>
                              <span
                                class="views"
                                data-toggle="tooltip"
                                title="views"
                              >
                                <i class="fa fa-eye"></i>
                                <ins>1.2k</ins>
                              </span>
                            </li>
                            <li>
                              <span
                                class="comment"
                                data-toggle="tooltip"
                                title="Comments"
                              >
                                <i class="fa fa-comments-o"></i>
                                <ins>52</ins>
                              </span>
                            </li>
                           
                            <li class="social-media">
                              <div class="menu">
                                <div class="btn trigger">
                                  <i class="fa fa-share-alt"></i>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-html5"></i
                                    ></a>
                                  </div>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-facebook"></i
                                    ></a>
                                  </div>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-google-plus"></i
                                    ></a>
                                  </div>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-twitter"></i
                                    ></a>
                                  </div>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-css3"></i
                                    ></a>
                                  </div>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-instagram"></i
                                    ></a>
                                  </div>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-dribbble"></i
                                    ></a>
                                  </div>
                                </div>
                                <div class="rotater">
                                  <div class="btn btn-icon">
                                    <a href="#" title=""
                                      ><i class="fa fa-pinterest"></i
                                    ></a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                       
                      </div>
                    </div>
                    <div class="coment-area">
                                            
											<ul class="we-comet">
											   {% if user.username %}
										  {% for comment in comments %}
											{% if comment.post.id == post.id %}
											   <li>
												  <div class="comet-avatar">
													 <img src="{{comment.author.avatar.url}}" alt="" style="    height: 40px;
													 width: 41px;">
												  </div>
												  <div class="we-comment">
													 <div class="coment-head">
														<h5><a href="time-line.html" title="">{{comment.author.last_name}} {{comment.author.first_name}}</a></h5>
														<span>{{comment.created_at}}</span>                                                                                                                                                                                                                    
														<p>{{comment.content}}</p>
													   
														<div class="comment" id="comment_{{ comment.id }}">                                                     
															<a class="btn btn-primary btn-sm reply-button d-inline-block" style="background: none; border: none;        margin-top: -6px; " data-comment-id="{{ comment.id }}">Reply</i></a>
														
															<!-- Reply Form (initially hidden) -->
															
															<form method="post" class="reply-form" style="display: none;"
															action="{% url 'app_social:commentUserPost' post.id %}">
															{% csrf_token %}
															<input type="hidden" name="comment_id" value="{{comment.id}}">
                              <input type="hidden" name="username" value="{{profile_user.username}}">
															<textarea class="comment-textarea" name="text"
															placeholder="Viết bình luận..."></textarea>
															<button class="comment-button" type="submit"
															name="reply_comment">Send</button>
															</form>
															<!-- Reply Container -->
															<div class="replies-container">
																<!-- Display replies here -->
															</div>
														</div>
														
														{% if comment.author == user %}
														<div class="comment" id="comment_{{ comment.id }}">                                                     
														<a class="btn btn-primary btn-sm reply-button d-inline-block" style="background: none; border: none;    margin-left: 60px;
														margin-top: -54px; " data-comment-id="{{ comment.id }}">Edit</i></a>
										
														
														<form action="{% url 'app_social:commentPost' post.id %}" method="post"class="reply-form"style="display: none;">
														{% csrf_token %}
														<input type="hidden" name="comment_id" value="{{comment.id}}">
														<textarea required class="reply-textarea" name="content" placeholder="Nhập bình luận của bạn">{{comment.content}}</textarea>
														<button class="submit-reply" type="submit" name="edit_comment">Edit</button>   
														</form>
														</div>
														
														{% endif %}                                                  
														{% if post.author == user or comment.author == user %}                                                   
														<div class="xoa" style="margin-top: -50px;;
														margin-left: 55px;">
														<a href="{% url 'app_social:deleteComment' comment.id %}?username={{profile_user.username}}" style="margin-left: 60px;
														margin-top: -54px; ">Xóa</a>                                         
														</div>
														{% endif %}
														
												  </div>
												  </div>
												  {% for reply in reply_comment_post %}
												  {% if reply.comment.id == comment.id %}  
												  <ul>
													
													 <li>
														<div class="comet-avatar">
														   <img src="{{reply.author.avatar.url}}" alt=""style="    height: 40px;
														   width: 41px;">
														</div>
														<div class="we-comment">
														   <div class="coment-head">
															  <h5><a href="time-line.html" title="">{{reply.author.last_name}} {{reply.author.first_name}}</a></h5>
															  <span>{{reply.created_at}}</span>                                                               
															<p>{{reply.text}}</p>
																																																								
														   </div>
														   
														   
														</div>
													 </li>
													 
												  </ul>
												  {% endif %}
												{% endfor %}
											   </li>
											   {% endif %}
											   {% endfor %}
											  
		   
		   
											  
											   <li class="post-comment">
												  <div class="comet-avatar">
													 <img src="/media/{{ user.avatar }}" alt="" style="    width: 46px;
													 height: 41px;">
												  </div>
												  <div class="post-comt-box">
													<form class="flex-fill ps-2" method="post"
													action="{% url 'app_social:commentPost' post.id %}"> 
													<input type="hidden" name="post_id" value="{{ post.id }}">
														{% csrf_token %}
														<input type="text" name="content"
														class="form-control rounded-pill bg-white bg-opacity-15"
														style="padding-right: 120px;"
														placeholder="Write a comment..." />
														
														 
														<button class="comment-button" type="submit"
														name="add_comment">Comment</button>
													 </form>
												  </div>
											   </li>
											  
											</ul>
											
										 </div>
										 {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- centerl meta -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
